import oarepo_config as config
from invenio_i18n import lazy_gettext as _
from invenio_records_permissions import RecordPermissionPolicy
from invenio_records_permissions.generators import (
    AnyUser,
    AuthenticatedUser,
    SystemProcess,
)
from oarepo_config import CommunityWorkflow, IndividualWorkflow, configure_workflows
from invenio_pages import InvenioPages

# glitchtip for reporting incidents
# note: the invenio's version of sentry sdk stopped being compatible
# with the current python, so for the time being we stop using the glitchtip
# integration. See https://github.com/inveniosoftware/invenio-logging/issues/73
# for more details.
# config.initialize_glitchtip()

# i18n
config.initialize_i18n()

config.configure_generic_parameters(
    # See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_generic_parameters
    languages=(
        ("cs", _("Czech")),
        # Add other UI languages, English is always included automatically.
        # Leave empty to use English only.
        # Omit languages=(..) to use default (English + Czech).
    ),
)

config.configure_ui(
    # See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_ui
    code="datarepo",
    name=_("CESNET Invenio Sandbox"),
    description=_("A CESNET Invenio data repository demonstration instance."),
)

config.configure_communities(
    # Configure custom community roles if not using the default (owner, curator, member).
    # Leave empty to use default roles.
    # See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_communities
    communities_roles=[
        # note: order matters, roles should be sorted by importance
        # from the most important to the least
        dict(
            name="owner",
            title=_("Community owner"),
            description=_("Can manage community."),
            is_owner=True,
            can_manage=True,
            can_curate=True,
            can_manage_roles=["owner", "curator", "member", "submitter"],
        ),
        dict(
            name="curator",
            title=_("Curator"),
            description=_("Can curate records."),
            can_manage=True,
            can_curate=True,
            can_manage_roles=["member", "submitter"],
        ),
        dict(
            name="submitter",
            title=_("Submitter"),
            description=_("Can submit records to the community."),
            can_manage=True,
            can_manage_roles=[],
        ),
        dict(
            name="member",
            title=_("Member"),
            description=_("Community member with read permissions."),
        ),
    ]
)

configure_workflows(
    IndividualWorkflow(
        publish_without_review=False,
        review_required=True,
        self_review_enabled=True,
        draft_creation_roles=["submitter"],
        publish_without_review_roles=["direct-publisher"],
    ),
    CommunityWorkflow(
        code="community",
        label=_("Default Community Workflow"),
        community_curator_roles=["curator", "owner"],
    ),
)

config.configure_cron(
    # See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_cron
)

config.configure_stats(
    # See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_stats
)

# To enable datacite, uncomment the following lines.
# from common.config.datacite import (
#               enable_datacite,
#               datacite_default_credentials,
#               datacite_community_prefix
# )
# enable_datacite(env)
# datacite_default_credentials(
#               env.INVENIO_DATACITE_PREFIX,
#               env.INVENIO_DATACITE_USERNAME,
#               env.INVENIO_DATACITE_PASSWORD)
# Change "biocev" to your community prefix.
# datacite_community_prefix(
#              "biocev",
#               env.INVENIO_DATACITE_BIOCEV_PREFIX,
#               env.INVENIO_DATACITE_BIOCEV_USERNAME,
#               env.INVENIO_DATACITE_BIOCEV_PASSWORD)

# See: https://nrp-cz.github.io/docs/customize/configure/reference#configure_vocabulary
# config.configure_vocabulary(
#     code="languages",
#     name=_("Languages"),
#     description=_("Language definitions vocabulary."),
#     props={
#         "alpha3Code": {
#             "description": _("ISO 639-2 standard 3-letter language code"),
#             "icon": None,
#             "label": _("Alpha3 code (English)"),
#             "multiple": False,
#             "placeholder": "eng, cze...",
#             "search": False,
#         },
#     },
#     dump_options=True,
# )

# Feel free to add/override configuration options here. List of options can be
# found in the Invenio source code:
# https://github.com/inveniosoftware/invenio-app-rdm/blob/master/invenio_app_rdm/config.py


WEBPACKEXT_NPM_PKG_CLS = "pynpm:PNPMPackage"


# Add this to get the repo working on Mac.
import os

os.environ["DYLD_FALLBACK_LIBRARY_PATH"] = "/opt/homebrew/lib"

# Datasets model registration.
from datasets import datasets_model

datasets_model.register()
DASHBOARD_RECORD_CREATE_URL = "/datasets/uploads/new"

ABOUT_REPOSITORY_DOCS_URL = "https://docs.nrp.eosc.cz/en/docs/end_users/catch-all-data-repository/catch-all-repository-introduction"

# TODO: Disable UI for now until oarepo-communities ready for RDM-14
COMMUNITIES_REGISTER_UI_BLUEPRINT = True

# einfra oidc
# TODO: move to config.configure_einfra_oidc(env) function and check for all needed variables
env = config.load_configuration_variables()
if os.environ.get("INVENIO_REMOTE_AUTH_ENABLED", "no").lower() in ("true", "yes", "1"):
    from oarepo_oidc_einfra import EINFRA_LOGIN_APP

    OAUTHCLIENT_REMOTE_APPS = {"e-infra": EINFRA_LOGIN_APP}
    # needed for disconnect
    from oarepo_oidc_einfra import config as oarepo_einfra_config

    EINFRA = dict(
        consumer_key=env.INVENIO_EINFRA_CONSUMER_KEY,
        consumer_secret=env.INVENIO_EINFRA_CONSUMER_SECRET,
        **{
            k[len("EINFRA_") :].lower(): getattr(oarepo_einfra_config, k)
            for k in dir(oarepo_einfra_config)
            if k.startswith("EINFRA_")
        },
    )
else:
    OAUTHCLIENT_REMOTE_APPS = {}

EINFRA_LAST_DUMP_PATH = "nrp_invenio_export.json"

# TODO: move this to config.configure_sidebar_extensions(env) function
# and have a sane default

APP_RDM_DETAIL_SIDE_BAR_TEMPLATES = [
    "invenio_app_rdm/records/details/side_bar/manage_menu.html",
    "invenio_app_rdm/records/details/side_bar/versions.html",
    "invenio_app_rdm/records/details/side_bar/external_resources.html",
    "invenio_app_rdm/records/details/side_bar/communities.html",
    "invenio_app_rdm/records/details/side_bar/keywords_subjects.html",
    "invenio_app_rdm/records/details/side_bar/details.html",
    # "invenio_app_rdm/records/details/side_bar/locations.html",
    "datarepo/records/details/side_bar/licenses.html",
    "invenio_app_rdm/records/details/side_bar/citations.html",
    "oarepo_ui/record_detail/side_bar/export.html",
    "invenio_app_rdm/records/details/side_bar/technical_metadata.html",
    "invenio_app_rdm/records/details/side_bar/metrics.html",
]
"""Template names for detail view sidebar components"""


class VocabulariesPermissionPolicy(RecordPermissionPolicy):
    """Permission policy for vocabularies."""

    can_search = [SystemProcess(), AnyUser()]
    can_read = [
        SystemProcess(),
        AnyUser(),
    ]
    can_create = [SystemProcess()]
    can_update = [SystemProcess()]
    can_delete = [SystemProcess()]
    can_manage = [SystemProcess()]
    # this permission is needed for the /api/vocabularies/ endpoint
    can_list_vocabularies = [SystemProcess(), AnyUser()]


VOCABULARIES_PERMISSIONS_POLICY = VocabulariesPermissionPolicy
THEME_LOGO = "images/sandbox_logo_with_name.svg"

THEME_SHOW_FRONTPAGE_INTRO_SECTION = False

RECORD_ROUTES = {"new": "/datasets/uploads/new?community={community_slug}"}

REGISTER_DASHBOARD_IN_MAIN_MENU = False

from oarepo_communities.requests.community_submission import CommunitySubmission

RDM_COMMUNITY_SUBMISSION_REQUEST_CLS = CommunitySubmission


import idutils
from invenio_rdm_records.resources.serializers import DataCite43JSONSerializer
from invenio_rdm_records.services.pids import providers
from oarepo_doi.resources.serializers import MultipleModelsSchema
from oarepo_doi.services.providers.client import DataCiteRecordAwareClient
from oarepo_doi.services.providers.provider import DataCiteRecordAwareProvider

RDM_PERSISTENT_IDENTIFIER_PROVIDERS = [
    # DataCite DOI provider
    DataCiteRecordAwareProvider(
        "datacite",
        client=DataCiteRecordAwareClient("datacite", config_prefix="DATACITE"),
        label=_("DOI"),
    ),
    providers.ExternalPIDProvider(
        "external",
        "doi",
        validators=[],
        label=_("DOI"),
    ),
]
RDM_PERSISTENT_IDENTIFIERS = {
    "doi": {
        "providers": ["datacite", "external"],
        "required": True,
        "label": _("DOI"),
        "validator": idutils.is_doi,
        "normalizer": idutils.normalize_doi,
        "is_enabled": DataCiteRecordAwareProvider.is_enabled,
        "ui": {"default_selected": "no"},  # "yes", "no" or "not_needed"
    }
}
RDM_PARENT_PERSISTENT_IDENTIFIER_PROVIDERS = [
    # DataCite Concept DOI provider
    DataCiteRecordAwareProvider(
        "datacite",
        client=DataCiteRecordAwareClient("datacite", config_prefix="DATACITE"),
        serializer=DataCite43JSONSerializer(schema_context={"is_parent": True}),
        label=_("Concept DOI"),
    ),
]
RDM_PARENT_PERSISTENT_IDENTIFIERS = {
    "doi": {
        "providers": ["datacite"],
        "required": True,
        "condition": lambda rec: rec.pids.get("doi", {}).get("provider") == "datacite",
        "label": _("Concept DOI"),
        "validator": idutils.is_doi,
        "normalizer": idutils.normalize_doi,
        "is_enabled": DataCiteRecordAwareProvider.is_enabled,
    },
}

SEARCH_CLIENT_CONFIG["timeout"] = 60

# identifiers
from invenio_vocabularies.config import (
    VOCABULARIES_AFFILIATION_SCHEMES,
    VOCABULARIES_FUNDER_SCHEMES,
)

VOCABULARIES_AFFILIATION_SCHEMES.update(
    {
        "parent-id": {"label": _("Parent record id"), "validator": lambda x: True},
        "orjk": {"label": _("Organizational Unit ID"), "validator": lambda x: True},
        "ext": {
            "label": _("External ID (non-standardized)"),
            "validator": lambda x: True,
        },
        "nzbn": {
            "label": _("New Zealand Business Number"),
            "validator": lambda x: True,
        },
        "ico": {
            "label": _("ICO"),
            "validator": lambda x: True,
        },
    }
)

VOCABULARIES_FUNDER_SCHEMES.update(
    {
        "crossref": {
            "label": _("Crossref"),
            "validator": lambda x: True,
        },
    }
)

from oarepo_rdm.initial_config import (
    APP_RDM_DEPOSIT_FORM_DEFAULTS as _OAREPO_DEPOSIT_FORM_DEFAULTS,
)

APP_RDM_DEPOSIT_FORM_DEFAULTS = {
    **_OAREPO_DEPOSIT_FORM_DEFAULTS,
    "resource_type": {"id": "c_ddb1"},
    "publisher": "CESNET Invenio Sandbox",
}

# will be removed while we have a new version of oarepo (it is built in there)
from invenio_app_rdm import config as app_rdm_config

IIIF_PREVIEW_TEMPLATE = app_rdm_config.IIIF_PREVIEW_TEMPLATE
IIIF_SIMPLE_PREVIEWER_SIZE = app_rdm_config.IIIF_SIMPLE_PREVIEWER_SIZE
IIIF_SIMPLE_PREVIEWER_NATIVE_EXTENSIONS = (
    app_rdm_config.IIIF_SIMPLE_PREVIEWER_NATIVE_EXTENSIONS
)

config.configure_llm(api_token=getattr(env, "INVENIO_OAREPO_CHECKS_TOKEN", None))


# just for import, we need to remove that afterwards
RDM_RECORDS_MAX_FILES_COUNT = 100
RDM_FILES_DEFAULT_QUOTA_SIZE = 1000 * (10**9)  # 1 TB
RDM_FILES_DEFAULT_MAX_FILE_SIZE = 1000 * (10**9)  # 1 TB
RDM_FILES_DEFAULT_MAX_ADDITIONAL_QUOTA_SIZE = 0

ACCESS_CACHE = "invenio_cache:current_cache"

APP_RDM_DEPOSIT_FORM_QUOTA = {
    "maxFiles": RDM_RECORDS_MAX_FILES_COUNT,
    "maxStorage": RDM_FILES_DEFAULT_QUOTA_SIZE,
}

# pages do not work due to bug https://github.com/inveniosoftware/invenio-pages/pull/124
APP_RDM_PAGES = {
    "about": "/about",
}

# PAGES_DEFAULT_TEMPLATE = "my_site/static_page.html"

# PAGES_TEMPLATES = [
#     ("invenio_pages/dynamic.html", "Default dynamic"),
#     ("my_site/static_page.html", "Default")
# ]

import os
os.environ["DYLD_FALLBACK_LIBRARY_PATH"] = "/opt/homebrew/lib"