{# Macro for rendering a card with icon, header, description, and button #}
{% macro render_card(header, description, icon, url, button_text, new_tab=False) %}
<div class="ui card shadowless">
  <div class="content">
    <h3 class="header">{{ header }}</h3>
    <p class="description">
      {{ description }}
    </p>
    <div class="card-icon">
      <i class="huge {{ icon }} icon"></i>
    </div>
    <a
      class="ui button right labeled icon bordered"
      href="{{ url }}"
      {% if new_tab %}target="_blank"{% endif %}
    >
      {{ button_text }}
      <i class="angle right icon"></i>
    </a>
  </div>
</div>
{% endmacro %}
