{% extends "oarepo_ui/frontpage.html" %}
{% from "macros/card.html" import render_card %}

{% set hide_footer_mandatory_publicity = True %}


{% block page_header %}
  {% include "header.html" %}
{% endblock page_header %}

{% block top_banner %}
{% endblock top_banner %}

{# Page Body Section #}
{% block grid_section %}
<div class="ui container frontpage-content rel-mt-3">

  {# Hero Section #}
  <div class="hero-section centered">
    <div class="hero-center">
      <img
        src="{{ url_for('static', filename='images/sandbox_logo_no_name.svg') }}"
        alt="CESNET Invenio Sandbox Logo"
        class="hero-logo"
      />
      <h1 class="ui header font-weight-semibold mb-0">{{ _('CESNET Invenio Sandbox') }}</h1> 
      <h3 class="ui header font-weight-normal mt-0">
        {{ _('Here you can play with all of the features it has to offer!') }}
      </h3>

      <form
        action="{{ url_for('datasets_ui.search') }}"
        class="ui form"
        role="search"
      >
        <div id="frontpage-search-input" class="ui fluid action input search-input">
          <input
            type="text"
            name="q"
            class="form-control"
            placeholder="{{ _('Search...') }}"
          />
          <button
            type="submit"
            class="ui icon left labeled large button search"
            aria-label="{{ _('Search') }}"
          >
            <i class="search icon"></i>
            {{ _('Search') }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="text-align-right">
    <a
      class="ui button tiny compact icon right labeled bordered show-all-link"
      href="{{ url_for('datasets_ui.search') }}"
    >
      {{ _('Show all datasets') }}
      <i class="angle right icon"></i>
    </a>
  </div>

  {# Three Cards Section #}
  <div class="cards-section flex justify-center align-items-center">
    <div class="ui cards frontpage-cards centered">


      {# Card 1: Upload Dataset #}
      {{ render_card(
        header=_('Upload dataset'),
        description=_('Try uploading a test dataset to the sandbox environment.'),
        icon='upload',
        url=url_for('datasets_ui.deposit_create'),
        button_text=_('Upload dataset') if can_view_deposit_page() else _('Get access')
      ) }}

      {# Card 2: Learn about data management #}
      {{ render_card(
        header=_('Learn about data management'),
        description=_('Discover how to effectively manage your research data.'),
        icon='graduation cap',
        url=_('https://www.eosc.cz/en/training'),
        button_text=_('Explore training'),
        new_tab=True
      ) }}

      {# Card 3: Repository system #}
      {{ render_card(
        header=_('Repository system'),
        description=_('CESNET Invenio is a research data management repository platform based on InvenioRDM.'),
        icon='book',
        url=_('https://nrp-cz.github.io/docs/'),
        button_text=_('Learn more'),
        new_tab=True
      ) }}

      {# Card 4: Build a new repository in NRP #}
      {{ render_card(
        header=_('Build a new repository in NRP'),
        description=_('Request a consultation with NRP repository system specialists.'),
        icon='wrench',
        url=_('https://www.eosc.cz/en/services/data-storage/repositories-in-nrp'),
        button_text=_('Get started'),
        new_tab=True
      ) }}

    </div>
  </div>

  {# Funding Logos Section #}
  <div class="ui container funding-section centered rel-mt-2">
    <div class="funding-logos flex justify-center align-items-center rel-mb-2">
      <img
        class="ui image funding-logo"
        src="{{ url_for('static', filename='images/eu_msmt_eosc_' ~ current_i18n.language ~ '.svg') }}"
        alt="{{ _('EU and Ministry of Education, Youth and Sports of the Czech Republic') }}"
      />
    </div>
  </div>

</div>


{% endblock grid_section %}
